[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Talend Open Studio
Icon=/home/paul/Documents/tools/TOS/plugins/org.talend.rcp_7.2.1.20190610_1534/icons/appli_48x48.png
Path=/home/paul/Documents/tools/TOS
Exec=/usr/bin/java -Xms512m -Xmx1536m -Dfile.encoding=UTF-8 -Dosgi.requiredJavaVersion=1.8 -XX:+UseG1GC -XX:+UseStringDeduplication -XX:MaxMetaspaceSize=512m -jar /home/paul/Documents/tools/TOS/plugins/org.eclipse.equinox.launcher_1.5.200.v20180922-1751.jar -os linux -ws gtk -arch x86_64 -showsplash -launcher /home/paul/Documents/tools/TOS/TOS_DI-linux-gtk-x86_64 -name TOS_DI-linux-gtk-x86_64 --launcher.library /home/paul/Documents/tools/TOS/plugins/org.eclipse.equinox.launcher.gtk.linux.x86_64_1.1.900.v20180922-1751/eclipse_1801.so -startup /home/paul/Documents/tools/TOS/plugins/org.eclipse.equinox.launcher_1.5.200.v20180922-1751.jar --launcher.overrideVmargs -exitdata 23b000e -vm /usr/bin/java -vmargs -Xms512m -Xmx1536m -Dfile.encoding=UTF-8 -Dosgi.requiredJavaVersion=1.8 -XX:+UseG1GC -XX:+UseStringDeduplication -XX:MaxMetaspaceSize=512m -jar /home/paul/Documents/tools/TOS/plugins/org.eclipse.equinox.launcher_1.5.200.v20180922-1751.jar
StartupNotify=false
StartupWMClass=Talend Studio
OnlyShowIn=Unity;
X-BAMFGenerated=true
